* {
  padding: 0%;
  margin: 0%;
}
.Footer {
  padding-top: 5%;
  padding-bottom: 5%;
  background-image: url("../../img/bg.png");
  border-bottom: solid 1px #dedada;
}
.Quick-Side {
  padding-left: 0%;
}
.Foot-Icon-Color {
  color: #a09f9f;
}
button.Bottom-One.btn.btn-light {
  text-align: left;
  color: #848484;
  font-weight: bold;
  border: none;
}
button.Bottom-One.btn.btn-light:hover {
  color:#259ba7;
}
button.Bottom-One.btn.btn-light:hover {
  background-color: white;
  width: 210px;
}
.Bottom-Left {
  padding: 0px;
}
.ContactUs-Strong{
  color: #259ba7;
}
.Small {
  font-size: small;
}
.UsColor {
  color: #848484;
}
.UsLink {
  color: #848484;
  text-decoration: none;
  padding: 0px;
}
.UsLink:hover {
  color: #848484;
}
.Google {
  width: 160px;
  height: 90px;
  margin-top: -18px;
}
.Recent-Side-One {
  padding: 0px;
  list-style-type: none;
}
.Awsome {
  width: 50px;
  float: left;
  margin-right: 5px;
}
.Recent-Side {
  text-decoration: none;
  border-bottom: 1px solid #dedada;
  padding-top: 19px;
  display: inline-block;
}
.Recent-Side:hover {
  background-color: white;
}
.Recent-Span {
  color: #848484;
  font-weight: bold;
  border-bottom: 2px dotted #dedada;
}
.Recent-Span:hover {
  color: #259ba7;
}
#Input-Top {
  margin-top: 6%;
}
.Red {
  color: red;
}

@media screen and (max-width:760px) {
  .Footer-Content {
    
  }
  .Content-One {
    
  }
  .Footer {
    width: 475%;
    padding-left: 19%;
  }
}