* {
    padding: 0%;
    margin: 0%;
}
.navbar {
  background-color: white;
  height: 80px;
}
.logo, .img-logo {
  width: 50px;
  padding-left: 9%;
  padding-bottom: 7%;
}
.Menu {
    padding-right: 5%;
    padding-bottom: 5%;
}
.Menu-One {
    color: black;
    display: inline-block;
    padding: 19px;
    text-decoration: none;
    font-weight: bold;
}
.Menu-One:hover {
    color: black;
}
.Header-Icon {
    color: black;
    font-size: large;
    cursor: pointer;
}
button.Hover-Button.btn.btn-light {
    width: 115px;
    background-color: white;
    border: none;
}
.Header-Name  {
    color: black;
    display: inline-block;
    padding: 19px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}