*{
    padding: 0%;
    margin: 0%;
}
.OurWork-Header {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    background-image: url("../img/bg.png");
}
.OurWork-Header-h2 {
    font-size: 45px;
    font-weight: bold;
}
.OurWork-Header-h3 {
    font-size: 30px;
    font-weight: bold;
    color: #259ba7;
    padding-top: 14px;
}
.OurWork-Header-P {
    font-weight: bold;
    padding-top: 3px;
}
.Logo-Design-h2 {
    color: white;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    background-color: #259ba7;
    padding-top: 2%;
    padding-bottom: 2%;
}
.Logo-Design {
    padding-top: 6%;
    background-image: url("../img/bg.png");
}
.Logo-Design-h3 {
    font-size: 25px;
    font-weight: bold;
}
.Logo-Design-P {
    font-weight: bold;
    font-size: medium;
    color: #535353;
}
.Logo-Images {
    margin-left: 5%;
    width: 105%;
}
.Logo-Button {
    margin-top: 3%;
    width: 65%;
    margin-left: 18%;
    margin-bottom: 7%;
}
button.Logo-Button.btn.btn-primary.btn-lg {
    background-color: #259ba7;
    border: #259ba7;
}
button.Logo-Button.btn.btn-primary.btn-lg:hover {
    color: #534e4e;
}
.OurWork-Links {
    text-align: center;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    background-image: url("../img/bg.png");
}
.OurWork-End-h2 {
    color: #259ba7;
    font-weight: bold;
    font-size: 30px;
}
.First-Link {
    color: #259ba7;
    font-size: small;
    font-weight: bold;
    padding: 2px;
    text-decoration: none;
}
.First-Link:hover {
    color: #848484;
}
.Vertical-Bar {
    color: black;
    font-size: 18px;
}
.Vedio {
    width: 105%;
}
button {
    display: none;
}
span.carousel-control-prev-icon {
    display: none;
}
span.carousel-control-next-icon {
    display: none;
}