* {
    padding: 0%;
    margin: 0%;
}
.Container-One {
    background-image: url("../../img/bg.png");
}
.Row-Style {
    padding-top: 3%;
}
.Row-Style-h2{
    color: #259ba7;
    letter-spacing: -0.017em;
    font-size: xx-large;
    margin-top: 3%;
}
.Row-Style-Strong{
    color: black;
}
.Row-Style-Span {
    color: #259ba7;
}
.Row-Style-P {
    text-align: justify;
    font-size: larger;
}
.Graphics {
    margin-left: 20%;
}