* {
  margin: 0%;
  padding: 0%;
  font-family: sans-serif;
}
.Header-TextHome {
  padding-top: 3.7%;
  padding-bottom: 3%;
}
.Text-HeadLine {
  text-align: center;
  color: #259ba7;
  padding-bottom: 2%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.ChangeText {
  color: #0b0a0a;
  font-weight: bold;
}
.HeaderHome-h3, .HeaderHome-h4, .HeaderHome-h5{
  text-align: center;
}
.TextChange-Home {
  color: #259ba7;
}
.HeaderHome-P {
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}
.Line {
  margin: 0%;
}
.Black-Box, .Box-Text {
  text-align: center;
  padding: 10px;
  background-color: #272727;
  padding: 2% 1%;
}
.Box-h3 {
  color:rgb(222, 218, 218);
  font-weight: bold;
  letter-spacing: -0.029em;
}
.Box-P {
  font-size: 18px;
  color:rgb(222, 218, 218);
}
.Container-Grade {
  padding-bottom: 5%;
  padding-top: 5%;
}
.Number-Move {
  text-align: center;
}
span.Number{
  color: #0b0a0a;
  font-size: 300%;
}
span.Text-Bottom {
  color: #848484;
  padding-left: 14%;
  font-size: 110%;
}
.Services{
  padding: 5% 5%;
  text-align: center;
  background-image: url("./img/bg.png");
}
.Chooise-Us{
  background-color: #272727;
  text-align: center;
  color: #dedada;
  letter-spacing: -0.029em;
}
.Chooise-Span  {
  font-weight: bold;
  font-size: 35px;
}
span.Chooise-P, .Chooise-h3 {
  color: #dedada;
  font-size: 20px;
  padding: 1.5%;
}
button.btn.btn-info {
  margin-bottom: 3%;
  margin-top: 5px;
  width: 375px;
}
.Answer {
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
  background-color: #259ba7;
}
.Answer-h2, .Answer-P {
  color: white;
  letter-spacing: -0.023em;
  font-size: 40px;
  line-height: 1.2;
  font-weight: bold;
  font-size: larger;
  letter-spacing: -0.023em;
}
button.Button-Two.btn.btn-light {
  color: #259ba7;
  font-weight: bold;
  background: white;
  text-align: center;
}
.Clients, .Clients-P {
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: center;
  color: white;
  background-color: #272727;
}

@media screen and (max-width :780px) {
  .Text-HeadLine {
    font-size:325%;
    font-weight: bold;
    font-family:initial;
  }
  .HeaderHome-h3 {
    font-size: 275%;
  }
  .HeaderHome-h4 {
    font-size: 200%;
  }
  .HeaderHome-h5 {
    font-size: x-large;
  }
  .Box-h3 {
    font-size: 245%;
  }
  .Box-P {
    line-height: 275%;
    font-size: 99%;
  }
}